@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sand-serif;
  background-color: #fff;
  width: 100%;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 40px;
  border-bottom: 1px solid #eee;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 20px 0;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .nav__content {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1024px) {
  .nav__content {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .nav__content {
    max-width: 768px;
  }
}

@media screen and (max-width: 640px) {
  .nav__content {
    max-width: 940px;
  }
}


.nav__logo a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 26px;
}

@media screen and (max-width: 991px) {
  nav {
    padding: 0 20px;
  }

  .btn__log-in {
    display: none;
  }
  
}

.btn__log-in {
  margin-right: 20px;
  color: #3668ff;
}

.nav__navigation ul {
  display: flex;
}

.nav__navigation ul li {
  list-style: none;
}

.nav__navigation ul li a {
  margin-right: 30px;
  font-size: 14px;
  text-decoration: none;
  color: #63637b;
  font-weight: 500;
}

.btn {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.btn__sign-up {
  padding: 8px 12px;
  color: #fff;
  background: #3668ff;
  border-radius: 4px;
  transition: all .3s ease;
}

.btn__sign-up:hover {
  background: #547efc;
}

.logo {
  display: none;
}

@media screen and (max-width: 950px) {
  .logo__text {
    display: none;
  }

  .logo {
    display: block;
  }
}

.menu__btn {
  position: relative;
  float: right;
  padding: 18px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 767px) {
  .menu__btn {
    display: flex;
    width: 36px;
    height: 36px;
    margin-left: 10px;
    padding: 0;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #e7e7ef;
  }

  .nav__navigation ul {
    display: none;
  }
}

.menu__btn span {
  width: 24px;
  height: 24px;
}

.nav__right {
  display: flex;
  align-items: center;
}


/* main content */

.homepage {
  height: 100%;
  line-height: 1.625;
  overflow: auto;
  width: 100%;
}


/* homepage headline */

.homepage__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20rem;
  text-align: center;
}

.homepage__container-content {
  margin: 1.5rem;
  padding: 2rem;
  max-width: 44rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 0.5rem;
}

@media screen and (max-width: 1000px) {
  .homepage__container-content {
    margin: 1rem;
    padding: 1rem;
  }
}

.homepage__container-content h1 {
  margin-bottom: 2rem;
  max-width: 1300px;
  font-weight: 800;
  color: #292936;
  line-height: 1;
  font-size: 3.75rem;
}

.homepage__container-content h1 span  {
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom right, #3668FF, #8b37ff);
}

.desc {
  font-size: 1.125rem;
  color: rgb(99 99 123 / 1);
}

/* download section */
.text {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

.desktop__grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .desktop__grid {
    flex-direction: row;
  }
}

.download__type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 15rem;
  width: 13rem;
  margin: 2rem;
  padding: 2rem;
  box-shadow: 0 0 #0000, 0 0 #0000, 0px 1px 8px 0px rgba(65, 65, 85, 0.2), 0px 3px 3px 0px rgba(65, 65, 85, 0.12), 0px 3px 4px 0px rgba(65, 65, 85, 0.14); 
  --tw-shadow-colored: 0px 1px 8px 0px rgb(59 130 246 / 0.5), 0px 3px 3px 0px rgb(59 130 246 / 0.5), 0px 3px 4px 0px rgb(59 130 246 / 0.5);
}

.download__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.download__icon {
  margin: 1.5rem;
}

.download__icon img {
  color: rgb(39, 42, 46);
  height: 58px;
  width: 100%;
}

.spacer {
  height: 5rem;
}

.spacer__small {
  height: 2rem;
}

.text__community {
  font-size: 26px;
  line-height: 30px;
  padding-bottom: 1rem;
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* tweets section */

.tweets__section {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large {
  overflow: hidden;
  resize: both;
  max-width: 1500px;
  height: 100%;
}

.medium {
  overflow: hidden;
  resize: both;
  max-width: 1050px;
  height: 100%;
}

.small {
  overflow: hidden;
  resize: both;
  max-width: 450px;
  height: 100%;
}

.tweets__section img {
  width: 100%;
}

@media screen and (max-width: 1050px) {
  .large {
    display: none;
  }

  .medium {
    display: flex;
  }
}

.medium, .small {
  display: none;
}

@media screen and (max-width: 450px) {
  .small {
    display: flex;
  }
}

.footer {
  background-color: rgb(244 244 250 / 1);
  padding-top: 50px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8%;
  padding-right: 8%;
}

.footer__container {
  max-width: 1400px;
  
}

@media screen and (max-width: 1280px) {
  .footer__container {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1024px) {
  .footer__container {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .footer__container {
    max-width: 768px;
  }
}

@media screen and (max-width: 640px) {
  .footer__container {
    max-width: 940px;
  }
}

@media screen and (max-width: 767px) {
  .footer__grid {
    margin-bottom: 80px;
    grid-row-gap: 50px;
    grid-template-columns: 1fr 1fr;
  }
}

.footer__grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 30px;
  grid-auto-columns: 1fr;
  margin-bottom: 110px;
}

.footer__logo {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 39.7px;
}

.socials__icons {
  margin-top: 30px;
}

.socials__icons img {
  height: 25px;
  width: 24px;
}

.socials__icons a {
  margin-right: 25px;
  max-width: 100%;
  display: inline-block;
}

.footer__link-title {
  font-size: 14px;
  text-transform: uppercase;
  color: #9ca3af;
  line-height: 1.2;
  font-weight: 600;
}

.footer__links {
  display: block;
  margin-top: 16px;
  color: #6b7280;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  cursor: pointer;
}

.copyrights {
  color: #9ca3af;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.copyrights a {
  text-decoration: none;
  color: #9ca3af;
}

/* still to work on: 
resposive imgs
when mobile top right button
when mobile footer policy etc
scrollbar */